<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="daily" method="post">
        <input type="text" name="daily">
        <input type="submit" value="获取某日信息">
    </form>
    <form action="month" method="post">
        <input type="submit" value="获取某月信息">
    </form>
    <form action="basic" method="post">
        <input type="submit" value="获取基本信息">
    </form>
    <form action="bottomlessvol" method="post">
        <input type="submit" value="突然缩量">
    </form>
    <form action="deepv" method="post">
        <input type="submit" value="底部探针突破">
    </form>
    <form action="pricedown50" method="post">
        <input type="submit" value="少了50%">
    </form>
    <form action="fillmonthdata" method="post">
        <input type="text" name="yyyymm">
        <input type="submit" value="补充月份信息">
    </form>
    <form action="pridohoz" method="post">
        <input type="text" name="beginyyyymm">
        <input type="text" name="endyyyymm">
        <input type="text" name="down">
        <input type="text" name="horizon">
        <input type="submit" value="[202003,202109) down60  [202109~now)20">
    </form>
</body>

</html>