<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="daily" method="post">
        <input type="text" name="daily">
        <input type="submit" value="获取当日数据">
    </form>
    <form action="basic" method="post">
        <input type="text" name="basicname">
        <input type="submit" value="获取基本信息">
    </form>
    <form action="deepv" method="post">
        <input type="text" name="deepvname">
        <input type="submit" value="探针突破">
    </form>
</body>

</html>